html, body {
    padding: 0px;
    margin: 0px;
}

main {
    background:black;
    width: 800px;
    height: 800px;
    display: block;
    opacity: 0,5;
}

#block-01 {
    background-color: blue;
    width: 82px;
    height: 790px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

#block-02 {
    background-color: white;
    width: 303px;
    height: 226px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
}

#block-03 {
    background-color: white;
    width: 303px;
    height: 559px;
    margin-left: -303px;
    margin-top: 236px;
    float: left;
}

#block-04 {
    background-color: yellow;
    width: 395px;
    height: 790px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}