html, body {
    padding: 0px;
    margin: 0px;
}

#third {
    background:black;
    width: 800px;
    height: 800px;
    display: block;
    opacity: 0,5;
}


#block-12 {
    background-color: white;
    width: 330px;
    height: 440px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#block-13 {
    background-color: red;
    width: 330px;
    height: 330px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#block-14 {
    background-color: rgb(4, 4, 129);
    width: 100px;
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#block-15 {
    background-color: rgb(4, 4, 129);
    width: 330px;
    height: 330px;
    margin-top: 10px;
    margin-left: 10px;
    float: none;
}

#block-16 {
    background-color: white;
    width: 160px;
    height: 440px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#block-17 {
    background-color: yellow;
    width: 160px;
    height: 440px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
